services:
  traffmonetizer:
    # Official TraffMonetizer image
    image: traffmonetizer/cli_v2:latest

    container_name: traffmonetizer-container

    # Command to start the service with your token.
    # IMPORTANT! Replace with your real token.
    command: start accept --token ${TRAFFMONETIZER_TOKEN} --device-name ${TRAFFMONETIZER_DEVICE_NAME}

    restart: unless-stopped
