services:
  packetshare:
    env_file:
      - .env
    # Official PacketShare image
    image: ${DOCKER_IMAGE:-packetshare/packetshare:latest}
    container_name: packetshare-container
    # Command to start the service with email and password.
    # IMPORTANT! Configure environment variables in .env
    command: -accept-tos -email=${PACKETSHARE_EMAIL} -password=${PACKETSHARE_PASSWORD}

    restart: unless-stopped
